# This is an example configuration file for emgo build command


# GOTARGET (required) specifies the target MCU/SOC family.
#
# Supported values: imxrt1060, k210, nrf52840, stm32f215, stm32f407, stm32f412,
# stm32h7x3, stm32l4x6

GOTARGET = n64

# GOMEM (required) describes the structure of available RAM. Currently at most
# two RAM regions can be specified. The first one is considered DMA capable and
# available for the user code (stacks, heap, global variables). The second one
# (if exists) is used only for the runtime internal structures making more of
# the DMA capable RAM available for the user code.
#
# The format is START_ADDRESS:SIZE or START_ADDRESS1:SIZE1,START_ADDRESS2:SIZE2

GOMEM = 0x80000000:8M

# GOTEXT (required) specifies the beggining of the code memory (usually Flash)
# and its size.
#
# CAUTION! Wrong setting may destroy the preprogrammed bootloader if used.

GOTEXT = 0x80000400:8M

# GOSTRIPFN allows to slightly reduce the size of the compiled binary at the
# cost of less information in the stack traces.
#
# Supported values: 0 (default) - do nothing, 1 - remove package path, 2 - blank
# function names.

GOSTRIPFN = 0

ISRNAMES = "/home/celik/work/blinky/hal/irq"
